<header class="top-nav-bar">
  <div class="container">
    <div class="top-flex-items">
      <ul class="top-nav">
        <li class="nav-list" *ngFor="let item of nav">
          <a href="{{item.link}}" >{{item.name}}</a>
        </li>
      </ul>
      <div class="cart-content">
        <i class="fa fa-shopping-cart u-padding-right-1 vert-align-middle"></i>
        <span class="cart-number u-display-inline-block">
          {{ cartNumber }}
        </span>
      </div>
    </div>
  </div>
</header>

<div class="search-area">
   <div class="container">

   </div>
</div>

<div class="body-content">
    <div class="container">

      </div>
</div>

<footer class="footer">
  <div class="container">
    
  </div>
</footer>